*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
#title{
    text-align: center;
    width: 98vw;
    font-size: 2.3vw;
}
body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#gameBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: gray;
    width: 47vw;
    height: 40.5vw;
}
.fruitElements{
    height: 5vw;
    width: 5vw;
    font-size: 2vw;
    text-align: center;
    background-color: greenyellow;
    margin: 0.2vw;
}
.fruitElements:hover{
    background-color: gold;
}
